<div class="grid-x" style="margin: 10px 0">
  
  <% @clients = ProjectUser.where(project_id: @project.id).where(role: [nil,false]).all %>
  <% @clients.each do |client| %>
    <div class="cell small-12 medium-6">
      <div class="grid-x">
        <div class="cell shrink">
          <div class="circle-avatar-small-msg">
            <% if client.user.avatar.attached? %>
                <%= image_tag client.user.avatar, :size => "100x100", :crop => :fill %>
            <% else %>
            <img src="https://s3-us-west-2.amazonaws.com/hobbs-building/assets/avatar.png" alt="avatar" width="100">
            <% end %>
          
          </div>
        </div>
        <div class="cell small-12 medium-6">
          <div class="avatar-card-msg" style="width: 100%;">
          <strong><%= (client.user.first_name.presence && client.user.first_name.presence || client.user.email).upcase %></strong><br />
          <small><%= client.user.phone %></small><br />
          <small><%= client.user.email %></small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= form_for @quote_message do |form| %>
  <% if @quote_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote_message.errors.count, "error") %> prohibited this @quote_message from being saved:</h2>

      <ul>
      <% @quote_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, placeholder: "Write your email here eg: Hi guys, I have adjusted your quote...", rows: 9 %>
  </div>

  <div class="field">
    <%= form.hidden_field :project_id, value: @project.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "Send email to your clients", class: "button primary large" %>
  </div>
<% end %>
