<p id="notice"><%= notice %></p>

<h1>Post Replies</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_replies.each do |post_reply| %>
      <tr>
        <td><%= post_reply.content %></td>
        <td><%= post_reply.post %></td>
        <td><%= link_to 'Show', post_reply %></td>
        <td><%= link_to 'Edit', edit_post_reply_path(post_reply) %></td>
        <td><%= link_to 'Destroy', post_reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Reply', new_post_reply_path %>
