
<div style="background-color: #f5f5f5">
<div class="grid-container">
    <div style="padding: 40px 0">
      <h2>Select an item</h2>
    </div>
    <% @items.each do |item| %>
        <% @item_attributes = ItemAttribute.where(item_id: item.id).all %>
        <div class="grid-x grid-margin-x grid-margin-y item-slide-container">
          <div class="cell small-12 medium-3 item-slide-image">


              <% item.files.first(1).each do |file| %>
                  <div>
                  <%= image_tag file, :size => "400x400", :crop => :fill %>
                  </div> 
              <% end %>
          

          </div>
          <div class="cell small-12 medium-6">
            <div>
              <h2><%= item.title %></h2>
              <small>SKU: <%= item.item_code %></small><br />
              <% if item.supplier.logo.attached? %>
              <div class="grid-x">
                <div class="cell shrink">
                  <%= image_tag item.supplier.logo, :size => "100x40", :crop => :fill %>
                </div>
                <div class="cell shrink">
                  <%= link_to "View Supplier Details", supplier_path(item.supplier.id), class: "supplier-details", target: "_blank" %>
                </div>
              </div>
                
              <% end %>
            </div>
            <div class="item-slide-container-description">
              <%= item.description %>
            </div>
          </div>
          <div class="cell small-12 medium-3">
            <% if @item_attributes.present? %>
              <div class="item-slide-attribute-text">
                <i class="fa fa-exclamation-circle"></i> This item has child attributes attached, to view these simply click the button below to see a tableof all available attributes.
              </div>
              <div class="button success expanded" id="item_attribute_button_<%= item.id %>">
                Choose an attribute
              </div>
            <% else %>
              <%= form_tag project_project_item_path(@project.id) do %>
                <%= hidden_field_tag :project_id, @project.id %>
                <%= hidden_field_tag :zone_id, zone.id %>
                <%= hidden_field_tag :zone_item_group_id, zone_item.id %>
                <%= hidden_field_tag :category_id, @project.category_id %>
                <%= hidden_field_tag :item_group_id, zone_item.item_group.id %>
                <%= hidden_field_tag :item_id, item.id %>
                <%= submit_tag "Add Item", class: "button success expanded", style: "margin-top: 20px" %>
              <% end %>
            <% end %>
          </div>
          <script>
            $( "#item_attribute_button_<%= item.id %>" ).click(function() {
              $( "#item_attribute_<%= item.id %>" ).slideToggle( "slow", function() {
              });
            });
          </script>
          <div class="cell small-12">
            <div class="item_attribute_row" id="item_attribute_<%= item.id %>" style="margin-bottom: 20px;">
              <table>
                <thead>
                  <th width="20%">Images</th>
                  <th width="20%">Attribute</th>
                  <th width="20%">Item Title</th>
                  <th width="10%">Item Code</th>
                  <th width="30%"></th>
                </thead>
                <tbody>
                  <% @item_attributes.each do |item_attribute| %>
                  <tr>
                    <td>
                      <% if item_attribute.image.attached? %>
                          <div>
                          <%= image_tag item_attribute.image, :size => "200x200", :crop => :fill %>
                          </div> 
                      <% end %>
                    </td>
                    <td><%= item_attribute.title %></td>
                    <td><%= item.title %></td>
                    <td><%= item_attribute.item_code %></td>
                    <td>
                      <!-- Check for attributes -->
                      <% @item_attributes = ItemAttribute.where(item_id: item.id).all %>
                      
                        <%= form_tag project_project_item_path(@project.id) do %>
                          <%= hidden_field_tag :project_id, @project.id %>
                          <%= hidden_field_tag :zone_id, zone.id %>
                          <%= hidden_field_tag :zone_item_group_id, zone_item.id %>
                          <%= hidden_field_tag :category_id, @project.category_id %>
                          <%= hidden_field_tag :item_group_id, zone_item.item_group.id %>
                          <%= hidden_field_tag :item_attribute_id, item_attribute.id %>
                          <%= hidden_field_tag :item_id, item_attribute.item.id %>
                          <%= submit_tag "Add Item", class: "button success expanded", style: "margin-top: 20px" %>
                        <% end %>
                    

                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>

        

    <% end %>
</div>

<!-- Items outside of the category -->
<div class="grid-container" style="margin-bottom: 40px;">
<div class="grid-x grid-margin-x">
  <div class="cell small-12">
    <% if @category_based == true %>
      <h2>Items outside of scope</h2>
    <% end %>
  </div>
</div>
</div>


<div class="grid-container">
    <% @other_items.each do |o_item| %>
        <% @item_attributes = ItemAttribute.where(item_id: o_item.id).all %>
        <div class="grid-x grid-margin-x grid-margin-y item-slide-container">
          <div class="cell small-12 medium-3 item-slide-image">


              <% o_item.files.first(1).each do |file| %>
                  <div>
                  <%= image_tag file, :size => "400x400", :crop => :fill %>
                  </div> 
              <% end %>
          

          </div>
          <div class="cell small-12 medium-6">
            <div>
              <h2><%= o_item.title %></h2>
              <small>SKU: <%= o_item.item_code %></small><br />
              <% if o_item.supplier.present? %>
              <% @supplier = Supplier.find(o_item.supplier_id) %>
                <% if @supplier.logo.attached? %>
                <div class="grid-x">
                  <div class="cell shrink">
                    <%= image_tag @supplier.logo, :size => "100x40", :crop => :fill %>
                  </div>
                  <div class="cell shrink">
                    <%= link_to "View Supplier Details", supplier_path(@supplier.id), class: "supplier-details", target: "_blank" %>
                  </div> 
                </div>
                <% end %>
              <% end %>
            </div>
            <div class="item-slide-container-description">
              <%= o_item.description %>
            </div>
          </div>
          <div class="cell small-12 medium-3">
            <% if @item_attributes.present? %>
              <div class="item-slide-attribute-text">
                <i class="fa fa-exclamation-circle"></i> This item has child attributes attached, to view these simply click the button below to see a tableof all available attributes.
              </div>
              <div class="button success expanded" id="item_attribute_button_<%= o_item.id %>">
                Choose an attribute
              </div>
            <% else %>
              <%= form_tag project_project_item_path(@project.id) do %>
                <%= hidden_field_tag :project_id, @project.id %>
                <%= hidden_field_tag :zone_id, zone.id %>
                <%= hidden_field_tag :zone_item_group_id, zone_item.id %>
                <%= hidden_field_tag :category_id, @project.category_id %>
                <%= hidden_field_tag :item_group_id, zone_item.item_group.id %>
                <%= hidden_field_tag :item_id, o_item.id %>
                <%= submit_tag "Add Item", class: "button success expanded", style: "margin-top: 20px" %>
              <% end %>
            <% end %>
          </div>
          <script>
            $( "#item_attribute_button_<%= o_item.id %>" ).click(function() {
              $( "#item_attribute_<%= o_item.id %>" ).slideToggle( "slow", function() {
              });
            });
          </script>
          <div class="cell small-12">
            <div class="item_attribute_row" id="item_attribute_<%= o_item.id %>" style="margin-bottom: 20px;">
              <table>
                <thead>
                  <th width="20%">Images</th>
                  <th width="20%">Attribute</th>
                  <th width="20%">Item Title</th>
                  <th width="10%">Item Code</th>
                  <th width="30%"></th>
                </thead>
                <tbody>
                  <% @item_attributes.each do |item_attribute| %>
                  <tr>
                    <td>
                      <% if item_attribute.image.attached? %>
                          <div>
                          <%= image_tag item_attribute.image, :size => "200x200", :crop => :fill %>
                          </div> 
                      <% end %>
                    </td>
                    <td><%= item_attribute.title %></td>
                    <td><%= o_item.title %></td>
                    <td><%= item_attribute.item_code %></td>
                    <td>
                      <!-- Check for attributes -->
                      <% @item_attributes = ItemAttribute.where(item_id: o_item.id).all %>
                      
                        <%= form_tag project_project_item_path(@project.id) do %>
                          <%= hidden_field_tag :project_id, @project.id %>
                          <%= hidden_field_tag :zone_id, zone.id %>
                          <%= hidden_field_tag :zone_item_group_id, zone_item.id %>
                          <%= hidden_field_tag :category_id, @project.category_id %>
                          <%= hidden_field_tag :item_group_id, zone_item.item_group.id %>
                          <%= hidden_field_tag :item_attribute_id, item_attribute.id %>
                          <%= hidden_field_tag :item_id, item_attribute.item.id %>
                          <%= submit_tag "Add Item", class: "button success expanded", style: "margin-top: 20px" %>
                        <% end %>
                    

                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>

        

    <% end %>

</div>


<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  </div>