<%= form_for project_item, url: project_project_item_close_path(@project.id) do |f| %>
                  <div class="input-group">
                    <span class="input-group-label">$</span>
                    <% if project_item.quote_total.blank? %>
                      <%= f.text_field :quote_total, class: "input-group-field", value: project_item.item.cost %>
                    <% else %>
                      <%= f.text_field :quote_total, class: "input-group-field" %>
                    <% end %>

                    <%= f.hidden_field :item_id, value: project_item.id %>
                    <div class="input-group-button">
                      <%= f.submit "Submit Quote", class: "button" %>
                    </div>
                  </div>
                <% end %>