<div class="grey-background">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">

        <div class="grid-x">
          <div class="cell small-12 medium-9">
            <h1>My Projects</h1>
            <p class="lead">Here you can find all of you projects <%= link_to "Start a new project now.", new_project_path %> </p>
            <ol>
              <li>First Enter your project details</li>
              <li>Add your zones to the project</li>
              <li>Add zone groups to each zone</li>
              <li>Invite your clients</li>
            </ol>
          </div>
          <div class="cell small-12 medium-3 text-right" style="padding-top: 60px;">
            <%= link_to "Add New Project", new_project_path, class: "button success large" %>
          </div>
        </div>
        

<table style="margin-top: 20px;">

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.category.title %></td>
        <td><%= project.title %></td>
        <td><%= project.address %></td>
        <td><%= project.city %></td>
        <td><%= project.state %></td>
        <td><%= project.postcode %></td>
        <td><%= link_to 'Show', project, class: "button primary" %></td>
        <td><%= link_to 'Edit', edit_project_path(project), class: "button warning" %></td>
        <td><%= link_to 'Destroy', project, method: :delete, class: "button alert", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div></div></div>
