<div class="grey-background">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
      
      <div class="grid-x">
          <div class="cell small-12 medium-9">
            <h1>Zone Groups</h1>
            <p class="lead">We pre-build zone groups and assign them to a zone when you set up your new project. Zone groups are things like walls, benches, floors, cabinets, lights etc.</p>
          </div>
          <div class="cell small-12 medium-3 text-right" style="padding-top: 60px;">
            <%= link_to "Add New Zone Group", new_item_group_path, class: "button success large" %>
          </div>
        </div>
        

<table style="margin-top: 20px;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_groups.each do |item_group| %>
      <tr>
        <td><%= item_group.title %></td>
        <td><%= item_group.description %></td>
        <td><%= link_to 'Show', item_group %></td>
        <td><%= link_to 'Edit', edit_item_group_path(item_group) %></td>
        <td><%= link_to 'Destroy', item_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>
</div>