<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @zone.title %>
</p>

<p>
  <strong>Project:</strong>
  <%= @zone.project %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
