<div class="grey-background">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">

        <div class="grid-x">
          <div class="cell small-12 medium-9">
            <h1>Items</h1>
            <p class="lead">Here we preset items so your clients can add them to a zone group once your project is live. You'll notice there are two tables here. The top table references items available for every project. The bottom table are items which the user has uploaded to the project.</p><p> <strong>TIP: If you like a user generated item, you can add it to your general items table by clicking the blue button. This will make it available it all projects from then on.</strong></p>
          </div>
          <div class="cell small-12 medium-3 text-right" style="padding-top: 60px;">
            <%= link_to "Add New Item", new_item_path, class: "button success large" %>
          </div>
        </div>
        

<table style="margin-top: 20px;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.brand %></td>
        <td><%= item.category.title %></td>

        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th>User generated?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.brand %></td>
        <td><%= item.category.title %></td>
        <td>
          <% if item.user_uploaded == true %>
          <%= link_to "Save to all projects", item_save_user_item_path(item, :project_id => item.project_id), class: "button primary" %>
          <% end %>
        </td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>
</div>