<div class="grey-background">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        
        <div class="grid-x">
          <div class="cell small-12 medium-9">
            <h1>Categories</h1>
            <p class="lead">Here you can set up as many categories as you like. Categories can be set house plans, gold, silver, bronze, packages or you might just set one category. <strong>Please note: you will have to create at least one category.</strong></p>
          </div>
          <div class="cell small-12 medium-3 text-right" style="padding-top: 60px;">
            <%= link_to "Add New Category", new_category_path, class: "button success large" %>
          </div>
        </div>
        
        <table style="margin-top: 20px;">
          <thead>
            <tr>
              <th width="90%">Title</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.title %></td>
                <td><%= link_to 'Show', category, class: "button primary" %></td>
                <td><%= link_to 'Edit', edit_category_path(category), class: "button warning" %></td>
                <td><%= link_to 'Destroy', category, method: :delete, class: "button alert", data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>