<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12">
      <%= form.text_field :name, placeholder: "Supplier name" %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12">
      <h3>Upload a logo</h3>
      <%= form.file_field :logo, direct_upload: true %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12">
      <%= form.text_field :address, placeholder: "Enter primary address" %>
    </div>
    <div class="cell small-12 medium-3">
      <%= form.text_field :postcode, placeholder: "Postcode" %>
    </div>
    <div class="cell small-12 medium-3">
      <%= form.text_field :state, placeholder: "State" %>
    </div>
    <div class="cell small-12 medium-6">
      <%= form.text_field :country, placeholder: "Country" %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12">
      <%= form.text_field :website, placeholder: "Website www." %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12">
      <%= form.text_field :email, placeholder: "Email address" %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12">
      <%= form.text_field :phone, placeholder: "Phone number" %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12">
      <%= form.text_field :contact_name, placeholder: "Do you have a contact name?" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit Supplier", class: "button expanded success large" %>
  </div>
<% end %>
