<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>State</th>
      <th>Country</th>
      <th>Website</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Contact name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td>
          <% if supplier.logo.attached?%>
            <%= image_tag supplier.logo, :size => "150x80", :crop => :fill %>
          <% end %>
        </td>
        <td><%= supplier.name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.postcode %></td>
        <td><%= supplier.state %></td>
        <td><%= supplier.country %></td>
        <td><%= supplier.website %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.contact_name %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
