<div class="grey-background">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">

        <div class="grid-x">
          <div class="cell small-12 medium-9">
            <h1>Suppliers</h1>
            <p class="lead">Here you can add all of your suppliers. We attached items to each of these suppliers so we can reference them for reporting purposes.</p>
          </div>
          <div class="cell small-12 medium-3 text-right" style="padding-top: 60px;">
            <%= link_to "Add New Supplier", new_supplier_path, class: "button success large" %>
          </div>
        </div>
        

<table style="margin-top: 20px;">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Website</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Contact name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td>
          <% if supplier.logo.attached?%>
            <%= image_tag supplier.logo, :size => "150x80", :crop => :fill %>
          <% end %>
        </td>
        <td><%= supplier.name %></td>
        
        <td><%= supplier.website %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.contact_name %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div></div></div>
