<%= form_with(model: tip, local: true) do |form| %>
  <% if tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Assign this tip to a zone group</h3>
    <%= form.collection_select(:item_group_id, ItemGroup.all,
                  :id, :title,
                 {:prompt => 'Select a zones group'})%>
  </div>

  <div class="field">
    <%= form.text_area :content, placeholder: "Write your tip here" %>
  </div>

  

  <div class="actions">
    <%= form.submit "Submit tip", class: "button success expanded large" %>
  </div>
<% end %>
